#server:
#  port: 8081
#
#spring:
#  datasource:
#    url: jdbc:mysql://localhost:3306/hoteldbms?createDatabaseIfNotExist=true
#    username: root
#    password: root
#    driver-class-name: com.mysql.cj.jdbc.Driver
#
#  jpa:
#    hibernate:
#      ddl-auto: update
#    show-sql: true
#    database-platform: org.hibernate.dialect.MySQL8Dialect
#
#  application:
#    name: HOTEL-SERVICE
#
#eureka:
#  client:
#    service-url:
#      defaultZone: http://localhost:8761/eureka/
#    register-with-eureka: true
#    fetch-registry: true
#  instance:
#    prefer-ip-address: true
#    instance-id: ${spring.application.name}:${random.value}
#    lease-renewal-interval-in-seconds: 5
#    lease-expiration-duration-in-seconds: 10
#instance-id: Creates a unique instance ID using the application name + random value
#lease-renewal-interval-in-seconds: 5: Sends heartbeat every 5 seconds (default is 30)
#lease-expiration-duration-in-seconds: 10: Removes dead instances faster (default is 90)
server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/hoteldbms?createDatabaseIfNotExist=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

  application:
    name: HOTEL-SERVICE

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${random.value}
    lease-renewal-interval-in-seconds: 5
    lease-expiration-duration-in-seconds: 10
